html{
    font-size:10px;
}


body {

 margin:0;
 padding:0;
 background-color:rgb(244,244,244);
 color:#333
}
p{
    font-size:1.6rem;
}
small{
    font-size:1.2rem;
}
.container {
    margin:0 auto;
    max-width:1000px;
    padding:40px;
}
title {
    font-size:4.4rem;
    text-align:center;
    background-color:'Yellow';

}
.form{
    display:grid;
}
label{
    margin-bottom:0.2rem;
    font: italic bold 32px/30px Georgia, serif;
	color: #cc6600;
    text-transform:uppercase; 
}
input{
    font-size:2.5rem;
    padding:1.5rem 1.5rem;
    line-height:1.5rem;
    border-radius:20px;
    border:1px solid #ddd;
    margin-bottom:1rem;
}
button{
    background-color:rgba(0,0,0,0,75);
    color:black;
    padding:1rem 2rem;
    border:1px solid rgba(0,0,0,0.75);
    border-radius:20px;
    font-size:1.4rem;
    cursor:pointer;
    transition:background-color 250ms;
}
button:hover{
    background-color:#ffffcc;
}
